<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="../Img/logo.png" />
    <title>YouthPath</title>
  </head>
  <body>
    <header class="navtab_container">
      <a class="navtab_item1" href="../index.html">
        <img src="../Img/logo.png" alt="Logo" />
      </a>
      <nav class="navtab_item2">
        <ul class="tabmenu_container">
          <li><a href="../Pages/cultura.html">Cultura</a></li>
          <li><a href="../Pages/economie.html">Economie</a></li>
          <li><a href="../Pages/educatie.html">Educatie</a></li>
          <li><a href="../Pages/it.html">IT</a></li>
          <li><a href="../Pages/politica.html">Politica</a></li>
          <li><a href="../Pages/sport.html">Sport</a></li>
        

        </ul>
      </nav>
    </header>
    <script> 
   export default {
    name: "myDomenii"
   } 
    </script>
</body>
</html>