<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="../Img/logo.png" />
    <title>YouthPath</title>
  </head>
  <body>
    <header class="navtab_container">
      <a class="navtab_item1" href="../index.html">
        <img src="../Img/logo.png" alt="Logo" />
      </a>
      <nav class="navtab_item2">
        <ul class="tabmenu_container">
          <li><a href="../Pages/cultura.html">Cultura</a></li>
          <li><a href="../Pages/economie.html">Economie</a></li>
          <li><a href="../Pages/educatie.html">Educatie</a></li>
          <li><a href="../Pages/it.html">IT</a></li>
          <li><a href="../Pages/politica.html">Politica</a></li>
          <li><a href="../Pages/sport.html">Sport</a></li>
        </header>
          <section class="sec1cultura">
            <h2>Educatie</h2>
            <p>
              
      
        <h2>Profesor engleză</h2>  
          Dacă nivelul tău dе engleză este excepțional și iubești limba engleză atât dе mult încât ai vrea să o predai și copiilor, atunci ești candidatul potrivit pentru Profesor de engleză la o școală primară. Este important să ai modulul psiho-pedagogic absolvit sau în curs, să ai experiența în a lucra cu copii 6-10 ani; să ai răbdare și să nu uiți să zâmbești, să fii dispus să înveți permanent și să te dezvolți. Angajatorul oferă salariu motivant și bonusuri de performanță. 
          
         <h2> Animator și supraveghetor copii</h2>
          Îți dorești un job de weekend sau în timpul liber după job? Poți alege să fii animator și supraveghetor copii la un centru sportiv. Contează să ai liceul pedagogic, studii de pedagogie sau psihologie, abilități excelente de comunicare și organizare, experiență și interes pentru activități cu copii, cunoștințe bune de limba engleză. Să fii o persoană responsabilă, dinamică, dornică să-și petreacă timpul jucându-se cu cei mici.
          
          Rolul tău va fi să supraveghezi copiii și să ai grijă ca aceștia să se joace în siguranță, să planifici și să organizezi activitățile copiilor, să coordonezi jocurile și activitățile creative,  implicând juniorii în activități și menținându-le interesul pentru jocuri/ateliere.
          
         <h2> 4. Profesii din industria divertismentului:</h2>
          
          
         Dacă tocmai ai absolvit facultatea sau ești în curs de finalizare a studiilor superioare, cunoști bine limba engleză minim nivel B1 și îți pace să lucrezi alături de copii, poți aplica pentru un post de profesor sau de asistent într-o școală privată sau cea de stat
         Principalele tale responsabilități vor fi: colaborarea cu profesorii în vederea pregătirii planificărilor, a planurilor de lecție şi a materialelor didactice aferente, supravegherea elevilor în activități, organizarea și susținerea unor activități, sprijin în managementul clasei, preluarea responsabilităților profesorilor în caz de suplinire în mediul online sau în clasă, sprijin în organizarea evenimentelor la care participă elevii. Pentru a te califica ai nevoie și de referințe.
         
         Beneficii: oportunitatea de a te perfecţiona, prin traininguri de specialitate, alături de cei mai buni specialiști, oportunitatea de a lucra într-o echipă entuziastă, tânără, într-o şcoală modernă, cu un colectiv redus de elevi, ocazia de a transforma o meserie într-o  profesie şi într-o carieră promiţătoare, pachet salarial motivant.
         
         Profesor engleză
         Dacă nivelul tău dе engleză este excepțional și iubești limba engleză atât dе mult încât ai vrea să o predai și copiilor, atunci ești candidatul potrivit pentru Profesor de engleză la o școală primară. Este important să ai modulul psiho-pedagogic absolvit sau în curs, să ai experiența în a lucra cu copii 6-10 ani; să ai răbdare și să nu uiți să zâmbești, să fii dispus să înveți permanent și să te dezvolți. Angajatorul oferă salariu motivant și bonusuri de performanță. 
         
         Animator și supraveghetor copii
         Îți dorești un job de weekend sau în timpul liber după job? Poți alege să fii animator și supraveghetor copii la un centru sportiv. Contează să ai liceul pedagogic, studii de pedagogie sau psihologie, abilități excelente de comunicare și organizare, experiență și interes pentru activități cu copii, cunoștințe bune de limba engleză. Să fii o persoană responsabilă, dinamică, dornică să-și petreacă timpul jucându-se cu cei mici.
         
         Rolul tău va fi să supraveghezi copiii și să ai grijă ca aceștia să se joace în siguranță, să planifici și să organizezi activitățile copiilor, să coordonezi jocurile și activitățile creative,  implicând juniorii în activități și menținându-le interesul pentru jocuri/ateliere.
        </p>
      </section>
        </ul>
      </nav>
    
    <footer>
      <section class="contain">
        <div class="Contact">
          <h3>Contact</h3>
          <p>
            Adresa:dhdhddg@gmail.com<br />
            Phone:74747737
          </p>
        </div>
      </section>
      <section class="copyright">
        Copyright &copy;Girls Go IT SummerCamp 2023 DumiHTML
      </section>
    </footer>

    <style>
      footer {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
      }
      .contain {
        display: flex;
        text-align: center;
        font-size: 20px;
      }
      .Contact {
        flex-grow: 1;
        flex-basis: 70%;
      }

      .Contact p {
        text-align: center;
        font-size: 15px;
      }

      .contain h3 {
        margin-bottom: 20px;
        font-size: 20px;
      }
      .copyright {
        padding: 15px 0;
        text-align: center;
        border-top: 1px solid white;
      }
    </style>


  
</body>
</html>