<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="../Img/logo.png" />
    <title>YouthPath</title>
  </head>
  <body>
    <header class="navtab_container">
      <a class="navtab_item1" href="../index.html">
        <img src="../Img/logo.png" alt="Logo" />
      </a>
      <nav class="navtab_item2">
        <ul class="tabmenu_container">
          <li><a href="../Pages/cultura.html">Cultura</a></li>
          <li><a href="../Pages/economie.html">Economie</a></li>
          <li><a href="../Pages/educatie.html">Educatie</a></li>
          <li><a href="../Pages/it.html">IT</a></li>
          <li><a href="../Pages/politica.html">Politica</a></li>
          <li><a href="../Pages/sport.html">Sport</a></li>
        </header>
          <section class="sportsec">
            <h2>Tehnologia informației și comunicațiilor (TIC): </h2>
            <p>
              Cu avansul tehnologic în continuă dezvoltare, profesii precum dezvoltator de software, inginer de date, specialist în securitate cibernetică și analist de date sunt foarte căutate și oferă salarii competitive.


              Salariile în domeniul Tehnologiei Informației și Comunicațiilor (TIC) variază semnificativ în funcție de mai mulți factori, inclusiv țara și regiunea în care se lucrează, nivelul de experiență, tipul de companie sau organizație, nivelul de educație și certificările deținute, precum și cererea și oferta de profesioniști TIC în piața muncii.
              
              
              În general, însă, profesioniștii din domeniul TIC au tendința de a beneficia de salarii mai mari în comparație cu alte domenii, deoarece acestea sunt domenii de înaltă cerere și esențiale pentru dezvoltarea tehnologică și inovație în diverse industrii.
              
              
              Pentru a oferi o imagine mai clară, voi prezenta câteva exemple de salarii medii în domeniul TIC, dar reține că aceste cifre pot varia semnificativ în funcție de regiune și alte factori:
              
              
              1. Dezvoltator de Software: Salariul mediu pentru dezvoltatori de software variază între aproximativ 50.000 USD și 120.000 USD pe an, în funcție de experiență, specializare (front-end, back-end, full-stack etc.) și locație.
              
              
              2. Inginer de Date: Inginerii de date pot câștiga între 60.000 USD și 140.000 USD pe an, cu variații în funcție de experiență, nivelul de competență în analiza datelor și cerințele specifice ale locului de muncă.
              
              
              3. Specialist în Securitate Cibernetică: Salariile pentru specialiștii în securitate cibernetică pot fi cuprinse între 70.000 USD și 150.000 USD pe an, cu un accent deosebit pe experiență, certificări și expertiză în domeniu.
              
              
              4. Analist de Date: Salariile analiștilor de date se încadrează de obicei în intervalul de 50.000 USD și 100.000 USD pe an, cu variații în funcție de nivelul de experiență și cerințele specifice ale angajatorului.
              
              
              5. Arhitect de Sisteme: Salariile arhitecților de sisteme pot varia între 80.000 USD și 150.000 USD pe an, depinzând de complexitatea proiectelor și nivelul de expertiză necesar.
              
              
              Acestea sunt doar câteva exemple, iar există și alte funcții și specializări în domeniul TIC care pot avea salarii atractive. Este important să ții cont de specificul fiecărui loc de muncă și să faci cercetări detaliate pentru a obține informații precise despre salarii în zona și domeniul de interes.
            </p>
        </ul>
      </nav>
   </section>
   <section class="sportsec">
    <h2>IT Inginerie și construcții:  </h2>
    <p>
      Inginerii din diverse domenii, cum ar fi ingineria civilă, ingineria electrică și cea mecanică, sunt căutați pentru a contribui la proiecte de construcții și infrastructură.


      Salariile în domeniul Ingineriei și Construcțiilor pot varia semnificativ în funcție de mai mulți factori, cum ar fi nivelul de experiență, specializarea, locația, dimensiunea și tipul companiei, proiectul la care se lucrează și starea economiei în țara respectivă. În general, inginerii și profesioniștii din domeniul construcțiilor pot beneficia de salarii atractive, în special în funcție de gradul lor de expertiză și responsabilități.
      
      
      Iată câteva exemple de salarii medii pentru diferite funcții în domeniul Ingineriei și Construcțiilor:
      
      
      1. Inginer Civil: Salariul unui inginer civil poate varia între 40.000 USD și 100.000 USD pe an, cu variații în funcție de experiență, expertiză în diverse domenii (infrastructură, construcții, design), proiectele gestionate și locația geografică.
      
      
      2. Inginer Mecanic: Salariile pentru inginerii mecanici pot fi cuprinse între 45.000 USD și 95.000 USD pe an, depinzând de specializarea lor în diverse domenii precum ingineria auto, energetica sau producția.
      
      
      3. Inginer Electrician: Salariul unui inginer electrician poate varia între 45.000 USD și 90.000 USD pe an, cu variații în funcție de expertiză în designul sistemelor electrice, automatizări și industria în care activează.
      
      
      4. Manager de Proiect în Construcții: Salariile managerilor de proiect în construcții pot varia între 50.000 USD și 120.000 USD pe an, în funcție de experiență, dimensiunea și complexitatea proiectelor gestionate și industria în care activează.
      
      
      5. Inginer Structural: Salariul unui inginer structural poate fi în jur de 55.000 USD până la 110.000 USD pe an, cu variații în funcție de expertiză în proiectarea structurilor complexe și implicate în construcții.
      
      
      Este important să menționăm că aceste cifre sunt aproximative și pot varia în funcție de țară, regiune și cerințele specifice ale angajatorilor. De asemenea, anumite proiecte de construcții mari, atât în sectorul public cât și privat, pot oferi salarii mai mari pentru profesioniști cu experiență și abilități deosebite în domeniul lor.
      </p>
    </section>
    <footer>
      <section class="contain">
        <div class="Contact">
          <h3>Contact</h3>
          <p>
            Adresa:dhdhddg@gmail.com<br />
            Phone:74747737
          </p>
        </div>
      </section>
      <section class="copyright">
        Copyright &copy;Girls Go IT SummerCamp 2023 DumiHTML
      </section>
    </footer>

    <style>
      footer {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
      }
      .contain {
        display: flex;
        text-align: center;
        font-size: 20px;
      }
      .Contact {
        flex-grow: 1;
        flex-basis: 70%;
      }

      .Contact p {
        text-align: center;
        font-size: 15px;
      }

      .contain h3 {
        margin-bottom: 20px;
        font-size: 20px;
      }
      .copyright {
        padding: 15px 0;
        text-align: center;
        border-top: 1px solid white;
      }
    </style>



</body>
</html>